.zcool-xiaowei-regular {
    font-family: "ZCOOL XiaoWei", serif;
    font-weight: 400;
    font-style: normal;
  }
body{
    font-family: "ZCOOL XiaoWei", serif;
    width: 70%;
    display:block;
    text-align: center;
    margin: 0px auto;
}  
*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #030303;
    color: white;
    text-decoration: none;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header div button{
    background-color: #030303;
    color: #FF5E58;
    border-radius: 10px;
    border-color: #FF5E58;
    padding: 10px;
    font-family: "ZCOOL XiaoWei", serif;
}
header div button:hover{
    background-color: #FF5E58;
    color: #030303;
    cursor: pointer;
}
header div ul li{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}
header div ul{
    display: flex;
}
header div ul li a{
    text-decoration: none;
    color: white;
}
header div ul li a:hover{
    color: #FF5E58;
}
header div span div{
    color: #ff5e58;
    display: inline;
}
header div a{
    color: white;
    display: inline;
    text-decoration: none;
}
header div span{
    font-size: x-large;
    cursor: pointer;
}
#content1{
    display: flex;
    background-color: #030303;
    color: white;
}
.contentofme{
    display: inline-block;
    align-items: center;
}
.photoofme{
    display: inline;
}
#content1 h3,h1,p{
    padding: 20px;
    margin-left: 20px;
    text-align: left;

}
#content1 p{
    color: #34373A;
}
#content2 p{
    color: #34373A;
}
#content1{
    color: #E1DDD6;
}
#content2 h1{
    font-size: 30px;
    color: #FF5E58;
}
#content2{
    background-color: #111111;
    color: white;
}
.content2{
    margin: 0;
    padding: 5px;
    font-size: 10px;
    text-align: center;
}
#lable1content{
    background-color: #111111;
}
.imageofme{
    text-align: left;
    display: flex;
    padding: 10px;
    margin: 10px;

}
.photoofme1{
    display: flex;
}
.contentofmeintheportfolio{
    text-align: left;

}
.linkstocontactme{
    color: #FF5E58;
    font-size: 30px;
    padding: 20px;
}
#aboutmainphoto img{
    background-color: #030303;
    height: 300px;
    margin-top: 50px;
    border-radius: 50px;
    margin-bottom: 50px;
    align-items: center;
}
#aboutmainphoto{
    background-color: #030303;
    height: 100%;
}
#content3 h1,h3{
    color: #FF5E58;
    display: block;
    text-align: center;
}
#content3 h3{
    padding: 20px;
}
#content3 button{
    background-color: #030303;
    color: #FF5E58;
    cursor: pointer;
    padding: 20px 40px;
    letter-spacing: 5px;
    margin-bottom: 20px;
    display: inline-block;
    border-radius: 10px;
    border-color: #FF5E58;
    font-family: "ZCOOL XiaoWei", serif;
    font-weight: bolder;
}
#content3 button:hover {
    background-color: #FF5E58;
    color: #030303;
    cursor: pointer;
}